<div class="product-list">
<!--    <div class="product-list__empty-cart">-->
<!--        <h3>Корзина пуста</h3>-->
<!--        <h6>Перейдите в <a href="/catalog.html">каталог</a> и выберите интересующий вас товар</h6>-->
<!--    </div>-->
    <ul class="product-list__list">
        <li class="product-list__item">
            <img src="/images/catalog/product-example.png" alt=""/>
            <h6>{some very very long name}</h6>
            <div class="product-list__item_counter">
                {% set variant = 'normal' %}
                {% include "common/counter/counter.html" %}
            </div>
            <div class="product-list__item_price">
                <span>{{123}}</span>
                <span>руб.</span>
            </div>
            <span class="product-list__item_remove-button">
                Убрать
            </span>
        </li>
        <li class="product-list__item">
            <img src="/images/catalog/product-example.png" alt=""/>
            <h6>{some very very long name}</h6>
            <div class="product-list__item_counter">
                {% set variant = 'normal' %}
                {% include "common/counter/counter.html" %}
            </div>
            <div class="product-list__item_price">
                <span>{{123}}</span>
                <span>руб.</span>
            </div>
            <span class="product-list__item_remove-button">
                Убрать
            </span>
        </li>
        <li class="product-list__item">
            <img src="/images/catalog/product-example.png" alt=""/>
            <h6>{some very very long name}</h6>
            <div class="product-list__item_counter">
                {% set variant = 'normal' %}
                {% include "common/counter/counter.html" %}
            </div>
            <div class="product-list__item_price">
                <span>{{123}}</span>
                <span>руб.</span>
            </div>
            <span class="product-list__item_remove-button">
                Убрать
            </span>
        </li>
    </ul>
</div>