<div class="product-list">
    <ul class="product-list__list">
        <li class="product-list__item">
            <img src="/images/catalog/product-example.png" alt=""/>
            <h6>{some very very long name}</h6>
            <div class="product-list__item_counter">
                {% set variant = 'normal' %}
                {% include "common/counter/counter.html" %}
            </div>
            <div class="product-list__item_price">
                <span>{{123}}</span>
                <span>руб.</span>
            </div>
            <span class="product-list__item_remove-button">
                Убрать
            </span>
        </li>
        <li class="product-list__item">
            <img src="/images/catalog/product-example.png" alt=""/>
            <h6>{some very very long name}</h6>
            <div class="product-list__item_counter">
                {% set variant = 'normal' %}
                {% include "common/counter/counter.html" %}
            </div>
            <div class="product-list__item_price">
                <span>{{123}}</span>
                <span>руб.</span>
            </div>
            <span class="product-list__item_remove-button">
                Убрать
            </span>
        </li>
        <li class="product-list__item">
            <img src="/images/catalog/product-example.png" alt=""/>
            <h6>{some very very long name}</h6>
            <div class="product-list__item_counter">
                {% set variant = 'normal' %}
                {% include "common/counter/counter.html" %}
            </div>
            <div class="product-list__item_price">
                <span>{{123}}</span>
                <span>руб.</span>
            </div>
            <span class="product-list__item_remove-button">
                Убрать
            </span>
        </li>
    </ul>
</div>