<section class="container">
    <div class="product-info">
        <div>
            {% include '../slider/slider.html' %}
        </div>
        <div>
            <div class="product-info__header">
                <h1 class="product-info__title">some title about product</h1>
                <div class="product-info__price-wrapper">
                    <div class="product-info__price">
                        <span>40 321.30</span>
                        <span class="product-info__price-ruble">&#8381;</span>
                    </div>
                    <div class="product-info__code">
                        <span>Код: 57632598</span>
                    </div>
                </div>
                {% set variant = 'big' %}
                <div class="product-info__counter-wrapper">
                    {% include "common/counter/counter.html" %}
                </div>
                <button id="buy-button" class="product-info__buy-button button button--flat">
                    <img src="/images/icons/white-cart.svg" alt="Корзина">
                    <span>В корзину</span>
                </button>
            </div>
            <div class="product-info__body">
                <h3 class="product-info__characteristics-title">Основные характеристики:</h3>
                <div class="product-info__characteristics">
                    <div class="product-info__characteristic">
                        <span>asd</span>
                        <span>ghjghjg</span>
                    </div>
                    <div class="product-info__characteristic">
                        <span>asd</span>
                        <span>ghjghjg</span>
                    </div>
                    <div class="product-info__characteristic">
                        <span>asd</span>
                        <span>ghjghjg</span>
                    </div>
                    <div class="product-info__characteristic">
                        <span>asd</span>
                        <span>ghjghjg</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>