@import 'src/styles/variables';
@import 'src/styles/mixins';

.pagination {
  display: flex;
  align-items: center;
  gap: 16px;

  &__list {
    display: flex;
    gap: 8px;

    @include sm {
      display: none;
    }

    &__item {
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;

      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 6px 16px;
      }

      &:hover {
        color: $primary;
      }

      &.active {
        cursor: default;
        pointer-events: none;
        color: $primary;
      }
    }
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    opacity: 0.6;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: unset;

    .arrow-next {
      width: 14px;
      height: 14px;

      &--left {
        transform: rotateZ(90deg);
      }

      &--right {
        transform: rotateZ(-90deg);
      }
    }

    &:hover {
      opacity: 1;
      color: $dark;
    }
  }
}