@import "../../../styles/variables";
@import "../../../styles/mixins";

.main-slider {
  position: relative;

  &.container {
    @include sm {
      padding: unset;
    }
  }

  .swiper {
    padding-top: 40px;

    @include sm {
      padding-top: 20px;
    }

    .swiper-wrapper {
      .swiper-slide {
        user-select: none;
        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }


  #main-slider-button-next {
    transform: rotateZ(-90deg);
    right: -32px;
    top: 50%;

    @include sm {
      display: none;
    }
  }

  #main-slider-button-prev {
    transform: rotateZ(90deg);
    left: -32px;
    top: 50%;

    @include sm {
      display: none;
    }
  }

  #main-slider-button-next, #main-slider-button-prev {
    transition: $transitionDefault;
    z-index: 10;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
