<section class="categories">
    <div class="container">
        <h2 class="categories-title">Категории товаров</h2>
        <div class="categories__grid">
            {% include 'common/category-card/category-card.html' %}
            {% include 'common/category-card/category-card.html' %}
            {% include 'common/category-card/category-card.html' %}
            {% include 'common/category-card/category-card.html' %}
            {% include 'common/category-card/category-card.html' %}
            {% include 'common/category-card/category-card.html' %}
            {% include 'common/category-card/category-card.html' %}
        </div>
    </div>
</section>