@import "../../../styles/variables";
@import "../../../styles/mixins";

.header {
  display: flex;
  flex-direction: column;
  box-shadow: $headerShadow;

  &__top {
    background-color: $dark;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light;

    @include sm {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
      padding: 12px $container-sm-padding;
    }

    &-working-time {
      display: flex;
      align-items: center;
      gap: 12px;

      @include sm {
        gap: 8px;
      }

      img {
        width: 24px;
        height: 24px;

        @include sm {
          width: 18px;
          height: 18px;
        }
      }

      span {
        font-size: 14px;

        @include sm {
          font-size: 12px;
        }
      }
    }

    &-address {
      display: flex;
      align-items: center;
      gap: 12px;

      @include sm {
        gap: 8px;
      }

      img {
        width: 24px;
        height: 24px;

        @include sm {
          width: 18px;
          height: 18px;
        }
      }

      span {
        font-size: 14px;

        @include sm {
          font-size: 12px;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    background-color: $light;

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      padding: 12px $container-sm-padding;
    }

    &-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        margin: unset;
        font-size: 36px;
      }
      span {
        border-top: 2px solid $primary;
        padding-top: 6px;
        font-size: 14px;
      }
    }

    &-nav {
      $nav: &;

      &-pages {
        display: flex;
        gap: 28px;
        font-size: 15px;
        font-weight: 500;

        li{
          a{
            font-size: 16px;
            transition: $transitionDefault;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    &-search {
      display: flex;
      gap: 12px;

      &__cart {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        padding: 0 25px;
        border: 1px solid $primary;
        border-radius: 4px;

        &-counter {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: $error;
          font-size: 10px;
          line-height: 10px;
          border-radius: 50%;
          color: $light;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & > img {
          width: 22px;
          height: 22px;
        }
      }

      &__call {
        //margin-left: 16px;
      }
    }
  }
}