@import "../../../styles/variables";

.header {
  display: flex;
  flex-direction: column;
  box-shadow: $header-shadow;

  &__top {
    background-color: $dark;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light;

    &-call {
      span, a {
        font-size: 16px;
      }
      a {
        color: $gray;
        font-weight: 700;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    background-color: $light;

    &-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        margin: unset;
        font-size: 36px;
      }
      span {
        border-top: 2px solid $primary;
        padding-top: 6px;
        font-size: 14px;
      }
    }

    &-nav {
      $nav: &;

      &-pages {
        display: flex;
        gap: 28px;
        font-size: 15px;
        font-weight: 500;

        li{
          a{
            font-size: 16px;
            transition: $transitionDefault;

            &:hover {
              color: $primary;
            }
          }
        }
      }

      &-categories {
        transition: $transitionDefault;
        position: absolute;
        top: 20px;
        left: 0;
        border-radius: 4px;
        border: 1px solid $light-gray;
        padding: 16px 24px;
        background-color: $light;
        z-index: 20;
        width: max-content;
        display: flex;
        flex-direction: column;
        gap: 16px;
        visibility: hidden;
        opacity: 0;
      }

      &--dropdown {
        position: relative;

        &:hover {
          #{$nav}-categories {
            visibility: visible;
            opacity: 1;
          }
        }
      }


      &--with-icon {
        display: flex;
        align-items: center;
        gap: 4px;

        &:hover {
          svg {
            path {
              fill: $primary;
            }
          }

        }

        svg {
          width: 12px;
          height: 13px;
          margin-bottom: 3px;
          path {
            transition: $transitionDefault;
          }
        }
      }
    }

    &-search {
      display: flex;

      input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}