@import 'src/styles/variables';

.layout__main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
}

.layout-up-button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  padding: 10px 14px;
  background-color: $light;
  box-shadow: $menuShadow;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
  border: 2px solid $primary;
  transition: all 0.3s linear;
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;

  &:hover {
    box-shadow: unset;

    img {
      transform: rotateZ(180deg) translateY(4px);
    }
  }

  &.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  img {
    width: 20px;
    height: 20px;
    transform: rotateZ(180deg);
    margin-top: 8px;
    transition: $transitionDefault;
  }
}

.cart-link {
  position: fixed;
  right: 40px;
  bottom: 110px;
  border-radius: 50%;
  padding: 14px;
  background-color: $light;
  box-shadow: $menuShadow;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
  border: 2px solid $primary;
  transition: all 0.3s linear;

  &:hover {
    box-shadow: unset;
  }

  img {
    width: 20px;
    height: 20px;
    transition: $transitionDefault;
  }

  &__counter {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $error;
    font-size: 10px;
    line-height: 10px;
    border-radius: 50%;
    color: $light;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}