<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/index.min.css">
</head>
<body>
    <main class="layout__main">
        {% include 'common/header/header.html' %}

        {% block content %}{% endblock %}

        {% include 'common/footer/footer.html' %}
    </main>


    <a href="/cart.html" id="cart-link" class="cart-link">
        <div class="cart-link__counter"><span>9+</span></div>
        <img src="images/icons/cart.svg" alt="Корзина">
    </a>
    <div id="layout-up-button" class="layout-up-button">
        <img src="images/icons/arrow.svg" alt="Стрелка">
    </div>

    <script src="scripts/index.min.js" ></script>
</body>
</html>