@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.product-slider {
  user-select: none;

  &__swiper-big-wrapper {
    position: relative;
  }

  &__swiper-big {
    width: 100%;

    .swiper-slide > img {
      width: 100%;
      height: 100%;
    }
  }

  &__swiper-button {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include md {
      display: none;
    }

    &[aria-disabled="true"] {
      visibility: hidden;
    }

    &-prev {
      left: -32px;
      transform: translateY(-50%) rotate(90deg);
    }

    &-next {
      right: -32px;
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  &__swiper-small {
    margin-top: 24px;

    .swiper-slide {
      border-bottom: 5px solid transparent;
      transition: $transitionDefault;

      &-thumb-active {
        border-color: $primary;
      }
    }

    img {
      width: 100%;
    }
  }
}