@import "src/styles/variables";
@import "src/styles/mixins";

.promo {
  overflow-x: hidden;

  & > .container {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include sm {
      grid-template-columns: 100%;
    }
  }

  &__info {
    font-size: 16px;
    line-height: 28px;

    @include sm {
      padding-bottom: 20px;
    }

    &-title {
      font-size: 26px;
    }

    a {
      border-bottom: 1px solid $dark;
      transition: $transitionDefault;

      &:hover {
        color: $primary;
        border-color: $primary;
      }
    }
  }

  &__slider {
    max-width: 1600px;

    @include sm {
      margin-left: -$container-sm-padding;
      margin-right: -$container-sm-padding;
    }

    .swiper {
      @include sm {
        padding-left: $container-sm-padding;
        margin-right: -$container-sm-padding;
      }
    }

    .swiper-slide {
      width: 300px;
      user-select: none;

      & > figure {
        margin-bottom: 20px;
      }
    }
  }
}