<section class="catalog container">
    <aside class="filters">

    </aside>
    <div class="catalog__main">
        <div>

        </div>
        <div class="catalog__list">
            {% include "common/product-card/product-card.html" %}
            {% include "common/product-card/product-card.html" %}
            {% include "common/product-card/product-card.html" %}
            {% include "common/product-card/product-card.html" %}
            {% include "common/product-card/product-card.html" %}
        </div>
    </div>
</section>