@import "./libs/swiper";
@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: $dark;
}

ul {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  border: none;
}

figure {
  margin: unset;
}

button {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
}

.container {
  max-width: 1350px;
  padding: 0 $container-padding;
  margin: 0 auto;

  @include md {
    padding: 0 $container-md-padding;
  }

  @include sm {
    padding: 0 $container-sm-padding;
  }
}

.text-field {
  border-radius: 4px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid $light-gray;
  outline: none;
  transition: $transitionDefault;

  &:focus {
    border-color: $primary;
  }
}

.button {
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: $transitionDefault;

  &--flat {
    background-color: $primary;
    color: $light;

    &:hover {
      opacity: 0.9;
    }
  }

  &--outline {
    background-color: $light;
    border: 1px solid $primary;
    color: $dark;

    &:hover {
      background-color: $primary;
      color: $light;
    }
  }

  &--default {
    font-weight: 500;
    box-shadow: $smallShadowStroke;
    background-color: $light;

    &:hover {
      color: $primary;
      box-shadow: unset;
    }
  }
}

.link {
  &:hover {
    color: $primary;
  }
}