@import "src/styles/variables";

.advantages {
  padding: 40px 0;

  &__items {
    display: flex;
  }

  &__item {
    flex-grow: 1;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    img {
      width: 48px;
      height: 48px;
    }

    & + & {
      border-left: 1px solid $primary;
    }
  }
}